.contentHeader > p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 33px;
}

.contentAbout > p {
  margin-top: 10px;
  font-size: 18px;
  width: 75%;
}

.ContentSide {
  margin-top: 20px;
  display: flex;
}

.LeftSide {
  margin-right: 135px;
}

.LeftSide > img {
  width: 230px;
  height: 430px;
}

.rightSideImg > img {
  width: 450px;
  height: 240px;
  box-shadow: -0.781154990196228px -0.781154990196228px 7.811550140380859px 0px rgba(0, 0, 0, 0.57);
  box-shadow: 3.124619960784912px 6.249239921569824px 7.811550140380859px 0px
    rgba(0, 0, 0, 0.25);
}

.rightSideDownloadLinks {
  display: flex;
  flex-wrap: wrap;
}

.linksHeader > p {
  margin: 15px 0px;
  font-weight: 500;
  font-size: 20px;
}

.linkText {
  margin: 2px 10px;
  font-size: 16px;
  font-weight: 500;
}

.appDownloadButton {
  padding: 1px 20px 1px 10px;
  margin: 4px;
  transition: 0.3s;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.appDownloadButton:hover {
  transform: translateY(-2px);
}

.appDownloadIcon {
  color: white;
}

.appDownloadText {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

.android {
  background-color: rgba(61, 220, 132, 1);
}
.linux {
  background-color: rgba(233, 84, 32, 1);
}
.apple {
  background-color: rgba(0, 0, 0, 1);
}
.windows {
  background-color: rgba(0, 136, 204, 1);
}

@media screen and (max-width: 320px) {

  .contentHeader > p {
    font-size: 25px;
  }

  .contentAbout > p {
    font-size: 15px;
    width: 100%;
    margin-bottom: 0;
  }

  .ContentSide {
    display: block;
  }

  .LeftSide.androidMockup {
    width: 0px;
    height: 0px;
  }

  .rightSideImg > img {
    margin-top: -20px;
    width: 100%;
    height: 130px;
  }

  .rightSideDownloadLinks {
    display: flex;
    flex-wrap: wrap;
  }

  .linkImg {
    margin-top: 2px;
    width: 15px;
    height: 15px;
  }

  .linkText {
    font-size: 12px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {

  .contentHeader > p {
    font-size: 25px;
  }

  .contentAbout > p {
    font-size: 15px;
    width: 100%;
    margin-bottom: 0;
    line-height: 20px;
  }

  .ContentSide {
    display: block;
  }

  .LeftSide > img {
    width: 0px;
    height: 0px;
  }

  .rightSideImg > img {
    margin-top: -20px;
    width: 100%;
    height: 240px;
  }

  .rightSideDownloadLinks {
    display: flex;
    flex-wrap: wrap;
  }

  .linkImg {
    margin-top: 2px;
    width: 17px;
    height: 17px;
  }

  .linkText {
    font-size: 15px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {

  .contentHeader > p {
    font-size: 30px;
  }

  .contentAbout > p {
    font-size: 18px;
    width: 100%;
    margin-bottom: 0;
  }

  .ContentSide {
    display: block;
  }

  .LeftSide > img {
    width: 0;
    height: 0;
  }

  .rightSideImg > img {
    width: 100%;
    height: 300px;
  }

  .rightSideDownloadLinks {
    display: flex;
    flex-wrap: wrap;
  }

  .linkImg {
    margin-top: 2px;
    width: 18px;
    height: 18px;
  }

  .linkText {
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {

  .ContentSide {
    display: block;
  }

  .LeftSide > img {
    width: 0px;
    height: 0px;
  }

  .LeftSide > img {
    width: 0;
    height: 0;
  }

  .rightSideImg > img {
    width: 80%;
    height: 300px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
}

@media screen and (min-width: 1301px) and (max-width: 1366px) {
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
}

@media screen and (min-width: 2560px) {
}
